<div id="header">
<a class="small-no" href="/"><img src="/images/fml_header.jpg" alt="Free Management Library" border="0" height="126" width="927" /></a>
<a class="small-yes" style="margin:0 auto;" href="/"><img src="/images/fml_header_logo.png" alt="Free Management Library" border="0" height="123" width="191" /></a>
</div>
<ul style="margin:0 auto;list-style:none;text-align:center;margin-bottom:1em;clear:both;margin-top:1em;" class="search small-yes"><li><span id="search" ><form method="post" action="/search/search.php">
<input type="text" name="zoom_query" size="20" /><input type="submit" value="Search Our Site" /></form></span></li></ul>